.dishmenu{
    display: flex;
    flex-wrap: wrap;
}

.App{
    background: linear-gradient(rgb(37, 37, 36),rgb(96, 96, 241));
    opacity: 0.9;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px){
    .dishmenu{
        display: block;
    }
}
